/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  div {
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
  }

  .search__box {
    width: 300px;
    height: 40px;
    position: relative;

    &:hover {
      border-bottom: 2px solid #e97f03;
    }

    input {
      border: 0;
      height: 16px;
      color: #323232;

      &::placeholder {
        color: rgb(50, 50, 50);
        font-weight: bold;
      }

      &:focus {
        outline: none;

        + .i_div {
          visibility: visible;
          border-bottom: 2px solid #e97f03;
        }
      }
    }

    &:focus-within .header_search path {
      fill: #e97f03;
    }
  }

  .header_search {
    width: 17.5px;
    height: 17.5px;
    margin-right: 11.5px;
    cursor: pointer;
    &:hover {
      filter: invert(91%) sepia(12%) saturate(7307%) hue-rotate(324deg)
        brightness(100%) contrast(98%);
    }
  }

  .header_cart {
    margin-right: 21px;
    cursor: pointer;
  }
  .header_userpage {
    cursor: pointer;
  }
  img {
    width: 20px;
    height: 20px;

    &:hover {
      filter: invert(91%) sepia(12%) saturate(7307%) hue-rotate(324deg)
        brightness(100%) contrast(98%);
    }
  }

  button {
    background: none;
    border: none;
  }
}
